<p>
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a  class="navbar-brand">Company</a>
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="company" class="nav-link">Company List</a>
    </li>
  </div>
</nav>

  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a  class="navbar-brand">Subdivision</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="subdivisions" class="nav-link">Subdivision List</a>
        </li>

      </div>
    </nav>

  </div>

<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a  class="navbar-brand">MyOrders</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="aorder" class="nav-link">My Orders List</a>
      </li>
      <li class="nav-item">
        <a routerLink="aorders/add" class="nav-link">Add</a>
      </li>
    </div>
  </nav>

</div>

<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a  class="navbar-brand">OrderForMe</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="eorder" class="nav-link">Orders List for me</a>
      </li>
    </div>
  </nav>

</div>
