<!--<div>
  <label><strong>Title:</strong></label> {{ currentSubdivision.name }}
</div>

<div>
  <label><strong>Title:</strong></label> {{ currentSubdivision.contact }}
</div>

<div>
  <label><strong>Title:</strong></label> {{ currentSubdivision.supervisor }}
</div>

<div>
  <label><strong>Title:</strong></label> {{ currentSubdivision.companyName }} &lt;!&ndash;/////&ndash;&gt;
</div>-->




<!--<div class="form-group">
  <label for="name">Name</label>
  <input
    type="text"
    class="form-control"
    id="name"
    [(ngModel)]="currentSubdivision.name"
    name="title"
  />
</div>


<div class="form-group">
  <label for="contact">contact</label>
  <input
    type="text"
    class="form-control"
    id="contact"
    [(ngModel)]="currentSubdivision.contact"
    name="contact"
  />
</div>

<div class="form-group">
  <label for="supervisor">supervisor</label>
  <input
    type="text"
    class="form-control"
    id="supervisor"
    [(ngModel)]="currentSubdivision.supervisor"
    name="title"
  />
</div>-->

<div *ngIf="viewMode; else editable">
  <div *ngIf="currentSubdivision.id">
    <h4>Subdivision</h4>

    <div>
      <label><strong>Name:</strong></label> {{ currentSubdivision.name }}
    </div>

    <div>
      <label><strong>contact:</strong></label> {{ currentSubdivision.contact }}
    </div>

    <div>
      <label><strong>Supervisor:</strong></label> {{ currentSubdivision.supervisor }}
    </div>

    <div>
      <label><strong>companyName:</strong></label> {{ currentSubdivision.companyName }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/mod/subdivision/{{ currentSubdivision.id }}"
    >
      Edit
    </a>
  </div>
  <div *ngIf="!currentSubdivision">
    <br />
    <p>Please click on a Subdivision...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentSubdivision.id" class="edit-form">
    <h4>Subdivision</h4>

    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentSubdivision.name"
          name="title"
        />
      </div>


      <div class="form-group">
        <label for="contact">contact</label>
        <input
          type="text"
          class="form-control"
          id="contact"
          [(ngModel)]="currentSubdivision.contact"
          name="contact"
        />
      </div>

      <div class="form-group">
        <label for="supervisor">supervisor</label>
        <input
          type="text"
          class="form-control"
          id="supervisor"
          [(ngModel)]="currentSubdivision.supervisor"
          name="title"
        />
      </div>




    </form>

    <button class="badge badge-danger mr-2" (click)="deleteSubdivision()">
      Delete
    </button>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateSubdivision()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentSubdivision.id">
    <br />
    <p>Cannot access this Subdivision...</p>
  </div>
</ng-template>
