<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >




      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>





      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>



      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="firstName">firstName</label>
        <input
          type="text"
          class="form-control"
          name="firstName"
          [(ngModel)]="form.firstName"
          required
          minlength="3"
          maxlength="20"
          #firstName="ngModel"
        />
        <div class="alert-danger" *ngIf="firstName.errors && f.submitted">
          <div *ngIf="firstName.errors['required']">firstName is required</div>
          <div *ngIf="firstName.errors['minlength']">
            firstName must be at least 3 characters
          </div>
          <div *ngIf="firstName.errors['maxlength']">
            firstName must be at most 20 characters
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="secondName">secondName</label>
        <input
          type="text"
          class="form-control"
          name="secondName"
          [(ngModel)]="form.secondName"
          required
          minlength="3"
          maxlength="20"
          #secondName="ngModel"
        />
        <div class="alert-danger" *ngIf="secondName.errors && f.submitted">
          <div *ngIf="secondName.errors['required']">secondName is required</div>
          <div *ngIf="secondName.errors['minlength']">
            secondName must be at least 3 characters
          </div>
          <div *ngIf="secondName.errors['maxlength']">
            secondName must be at most 20 characters
          </div>
        </div>
      </div>



      <div class="form-group">
        <label for="lastName">lastName</label>
        <input
          type="text"
          class="form-control"
          name="lastName"
          [(ngModel)]="form.lastName"
          required
          minlength="3"
          maxlength="20"
          #lastName="ngModel"
        />
        <div class="alert-danger" *ngIf="lastName.errors && f.submitted">
          <div *ngIf="lastName.errors['required']">lastName is required</div>
          <div *ngIf="lastName.errors['minlength']">
            lastName must be at least 3 characters
          </div>
          <div *ngIf="lastName.errors['maxlength']">
            lastName must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="jobTitle">jobTitle</label>
        <input
          type="text"
          class="form-control"
          name="jobTitle"
          [(ngModel)]="form.jobTitle"
          required
          minlength="3"
          maxlength="20"
          #jobTitle="ngModel"
        />
        <div class="alert-danger" *ngIf="jobTitle.errors && f.submitted">
          <div *ngIf="jobTitle.errors['required']">jobTitle is required</div>
          <div *ngIf="jobTitle.errors['minlength']">
            jobTitle must be at least 3 characters
          </div>
          <div *ngIf="jobTitle.errors['maxlength']">
            jobTitle must be at most 20 characters
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="subdivisionName">subdivisionName</label>
        <input
          type="text"
          class="form-control"
          name="subdivisionName"
          [(ngModel)]="form.subdivisionName"
          required
          minlength="2"
          maxlength="20"
          #subdivisionName="ngModel"
        />
        <div class="alert-danger" *ngIf="subdivisionName.errors && f.submitted">
          <div *ngIf="subdivisionName.errors['required']">subdivisionName is required</div>
          <div *ngIf="subdivisionName.errors['minlength']">
            subdivisionName must be at least 3 characters
          </div>
          <div *ngIf="subdivisionName.errors['maxlength']">
            subdivisionName must be at most 20 characters
          </div>
        </div>
      </div>


      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>










    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
